@keyframes example {
    @keyframes example {
        from {background-color: black;}
        to {background-color: white;}
      }
  }



.ball{
    
    display: flex;
    background-color:   black;
    color: aliceblue;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    
}
h3{
    text-size-adjust: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 200px;
    padding: 20%;
    animation-name: example;
    animation-duration: 2s;
    color: aliceblue;

}
